@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto, Arial;
    margin: 0;
}

.header {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    top: 0;
    right: 0;
    left: 0;

    background-color: #3D704C;
    color: white;
}

.left-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.Urbanlink_logo{
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 7px;
    padding-left: 30px;
    background-color: #3D704C;
    color: white;
    border-style: none;
    cursor: pointer;
}

.right-section{
    display: flex;
    margin-right: 20px;
}

.login-button,
.sign-up-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D704C;
    color: white;
    align-items: end;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 12px;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
}
.login-button:hover{
    background-color: #559b6a;
}

.sign-up-button{
    margin-left: 10px;
    background-color: white;
    color: #3D704C;
}
.sign-up-button:hover{
    background-color: rgb(241, 238, 238);
}

.ride-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 64px;
    margin: 0px 64px;
    margin-top: 64px;
}

@media (max-width: 1140px) {
    .ride-grid {
        padding: 64px 0 0 0;
        grid-template-columns: 1fr;
    }
    .detail-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 48px;
        height: 100%;
    }
    .image-section {
        display: flex;
        width: auto;
        height: auto;
        padding: 56px 32px;
    }
    .footer {
        margin-top: 64px;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.detail-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.heading {
    font-size: 62px; 
    font-weight: 700;
    text-align: left;
    line-height: 72px;
    margin-bottom: 32px;
}

.sub-heading {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: rgb(88, 88, 88);
}

.location-input-container{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding: 0 56px 0 0;
}

.location-input-container .origin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 12px;
    height: 47.2px;
    width: 396px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgb(249, 249, 249);
}
.location-input-container .origin-container .origin-input {
    height: 93%;
    width: 100%;
    border: none;
    outline: none;
    margin: 0 12px;
    font-size: 17px;
    background-color: rgb(249, 249, 249);
}

.location-input-container .destination-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 0 0 0 12px;
    height: 47.2px;
    width: 396px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgb(249, 249, 249);
}
.location-input-container .destination-container .destination-input {
    height: 93%;
    width: 100%;
    margin: 0 12px;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: rgb(249, 249, 249);
}

.general-button {
    padding: 14px 25px;
    font-size: 17px;
    font-weight: 500;
    background-color: #3D704C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}
.general-button:hover {
    opacity: 0.9;
}
.general-button:active {
    opacity: 0.8;
}

.image-section{
    display: flex;
    width: auto;
    height: auto;
}

.image-section .image {
    width: 90%;
    border-radius: 12px;
}

.footer {
    background-color: black;
    color: white;
    padding:0px 64px;
    height: 700px;
}

.footer-inner {
    padding: 64px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    padding: 48px 8px;
}

.footer-grid .company,
.footer-grid .products {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.anchor-tag {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.anchor-tag:hover{
    color: lightgray;
}

.footer-social-media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 58px 16px;
    width: 550px;
}

.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}