@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, Arial;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    top: 0;
    right: 0;
    left: 0;

    background-color: #3D704C;
    color: white;
}

.outer-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    height: 100vh;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 535.2px;
    padding: 0px 16px;
}

.user-email,
.user-password {
    padding: 0px 22px;
    height: 47.2px;
    width: 312px;
    margin-top: 28px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(228, 228, 228);
}
.user-password {
    margin-top: 8px;
    margin-bottom: 16px;
}

.continue-button {
    font-size: 17px;
    font-weight: 500px;
    height: 48px;
    width: 100%;
    padding: 13px 16px;
    background-color: #3D704C;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 0.15;
}
.continue-button:hover {
    opacity: 0.9;
}
.continue-button:active {
    opacity: 0.8;
}

.google-sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    font-size: 17px;
    font-weight: 500px;
    height: 48px;
    padding: 13px 16px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 8px;
    gap: 8px;
    cursor: pointer;
    transition: 0.15s;
}
.google-sign-up-button:hover {
    background-color: rgb(219, 219, 219);
}
.google-sign-up-button:active {
    background-color: lightgray;
}

.apple-sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    font-size: 17px;
    font-weight: 500px;
    height: 48px;
    padding: 13px 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 16px;
    gap: 8px;
    cursor: pointer;
    transition: 0.15s;
}
.apple-sign-up-button:hover {
    background-color: rgb(219, 219, 219);
}
.apple-sign-up-button:active {
    background-color: lightgray;
}

.disclaimer {
    margin-top: 28px;
    font-size: 13px;
    color: gray;
}